*::after,*::before{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-image: url('manila1.jpg');
    background-size: cover;
 }

 .background{
    width: 430px;
    height: 520px;
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
    background: #ffffff60;
 }

 .background .shape{
    height: 200px;
    width: 200px;
    position: absolute;
    border-radius: 50%;
 }


 form{
    height: 520px;
    width: 400px;
    background-color: rgba(225, 225, 225, 0.13);
    position: absolute;
    transform: translate(-50%, -50%);
    border-radius: 10px;
    top: 50%;
    left: 50%;
    backdrop-filter: blur(10px); 
   -webkit-backdrop-filter: blur(10px); 
    border: 1px solid rgba(255, 255, 255, 0.55); 
    padding: 14px 36px; 
    box-shadow: 0 12px 30px rgba(0, 0, 0, 0.18);  
 }


 form *{
    color: white;
    font-family: "Poppins", sans-serif;
        letter-spacing: 0.5px;
        outline: none;
        border: none;
 }

 form h3{
    font-size: 32px;
    font-weight: 500;
    line-height: 42px;
    text-align: center;
 }

 form label{
    display: block;
    margin-top: 30px;
    font-size: 18px;
    font-weight: 500;
 }

 input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255, 255, 255, 0.0713);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
 }

 ::placeholder{
    color: #e5e5e5;
 }

    button{
        margin-top: 30px;
        width: 100%;
        background-color: #ffffff;
        color: #080710;
        padding: 15px 10px;
        font-size: 18px;
        font-weight: 500;
        border-radius: 5px;
        cursor: pointer;
    }

    .password-container {
  position: relative;
  display: inline-block;
}

#password {
  padding-right: 50px; /* Space for the button */
}

#toggleBtn {
  position: absolute;
  right: 5px;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  border: none;
  background: none;
}